<%= simple_form_for @party_member do |f| %>
  <span style="">
    <%= f.input :name %>
    <%= f.input :player, label: "Player Name" %>
    <%= f.input :race %>
    <%= f.input :subrace %>
    <%= f.input :rpg_class, label: "Class" %>
    <%= f.input :subclass, label: "Subclass, Domain, School, etc." %>
    <%= f.input :background %>
    <%= f.input :place_id, collection: Place.order(:name), label: 'Place of Origin' %>
    <%= f.input :description, label: "A brief description of your character" %>
    <%= f.input :backstory, label: "Your character's history" %>
    <%= f.input :image, as: :file, label: 'Upload Image' %>

    <%= f.button :submit, :class => "btn btn-success" %>
  </span>
<% end %>
