<%= simple_form_for @character do |f| %>
  <span style="">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :place_id, collection: Place.order(:name), label: 'Home' %>
    <%= f.input :place_id, collection: Faction.order(:name), label: 'Faction' %>
    <%= f.input :image, label: 'Upload Image' %>

    <%= f.button :submit, :class => "btn btn-success" %>
  </span>
<% end %>

